<div id="<%= dom_id egreso %>">
  <p>
    <strong>Fecha:</strong>
    <%= egreso.fecha %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= egreso.monto %>
  </p>

  <p>
    <strong>Glosa:</strong>
    <%= egreso.glosa %>
  </p>

  <p>
    <strong>Categoriaegreso:</strong>
    <%= egreso.categoriaegreso_id %>
  </p>

</div>
