<%= form_with(model: egreso) do |form| %>
  <% if egreso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(egreso.errors.count, "error") %> prohibited this egreso from being saved:</h2>

      <ul>
        <% egreso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div>
    <%= form.label :monto, style: "display: block" %>
    <%= form.number_field :monto %>
  </div>

  <div>
    <%= form.label :glosa, style: "display: block" %>
    <%= form.text_area :glosa %>
  </div>

  <div>
    <%= form.label :categoriaegreso_id, style: "display: block" %>
    <%= form.text_field :categoriaegreso_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
