<div id="<%= dom_id ingreso %>">
  <p>
    <strong>Fecha:</strong>
    <%= ingreso.fecha %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= ingreso.monto %>
  </p>

  <p>
    <strong>Glosa:</strong>
    <%= ingreso.glosa %>
  </p>

  <p>
    <strong>Categoriaingreso:</strong>
    <%= ingreso.categoriaingreso_id %>
  </p>

</div>
