<%= form_with(model: categoriaegreso) do |form| %>
  <% if categoriaegreso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(categoriaegreso.errors.count, "error") %> prohibited this categoriaegreso from being saved:</h2>

      <ul>
        <% categoriaegreso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :categoria %>
  </div>

  <div>
    <%= form.label :icono, style: "display: block" %>
    <%= form.text_field :icono %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
